streamlit
pandas
numpy
requests
beautifulsoup4
yfinance
plotly
nltk
feedparser
transformers
torch
networkx
spacy
scikit-learn
scipy
matplotlib 
seaborn
lxml    
jsonlines   
statsmodels 
dask
altair
pyarrow
sqlalchemy
tensorflow
joblib
openpyxl
httpx
pandera
dvc
pandas-profiling
imgaug
geopandas