streamlit
pandas
numpy
requests
beautifulsoup4
yfinance
plotly
nltk
feedparser
transformers==4.38.2
torch
networkx
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
statsmodels
python-dotenv